body {
  color: rgb(50, 50, 100);
  background-color: rgb(50, 50, 100);
}

h1 {
  color: orange;
  font-size: 30px;
  font-family: "Proxima Nova", helvetica, sans-serif;
  text-align: center;
}

h2 {
  color: light-blue;
  font-size: 20px;
}

ul {
  list-style-type: none;
  text-align: center;
}

p {
  background: rgb(50, 50, 100);
  color: white;
  font-family: "Proxima Nova", helvetica, sans-serif;
  font-size: 15px;
  text-align: center;
}

a {
  color: yellow;
  font-family: "Proxima Nova", helvetica, sans-serif;
}
