* {
	box-sizing: border-box;
}

p, h2, h3, a, ul {
	font-family: 'Georgia', serif;
}

h1 {
	font-family: 'Knewave', cursive;
  	text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
	color: white;
	font-size: 60px;
	letter-spacing: 0.15em;
	line-height: 1;
	text-align: center;
	margin: 0 auto;
	padding: 0;
}

.knewave {
	font-family: 'Knewave', cursive;
	font-size: 30px;
	letter-spacing: .3em;
	text-align: center;
	padding: 100px 0 20px 0;

}

body {
	width: 100%;
	margin: 0 auto;
	background: white;
}

#page {
	background: white;
	margin: 0 auto;
}

header {
	background-color: black;
	padding: 0;
	width: 100%;
	margin: 0;
	overflow: hidden;

}

.logo {
	float: left;
	margin-left: 25px;
	padding: 20px;
}

.navbar{

	float: right;
	max-width: 1000px;
	min-width: 500px;
	padding-top: 30px;

}

.navbar li {
	display: inline;
	text-decoration: none;
}

.navbar a {
	font-size: 18px;
	color: white;
	padding-right: 30px;
	text-decoration: none;
	font-family: 'Open Sans Condensed', sans-serif;
	letter-spacing: .1em;
	font-weight: 700;
}

.clear {clear: both;}

#heroindex {
	background: url("../images/hero_index_crop.jpg");
	width: 100%;
	height: 800px;
	margin: 0;
	padding: 200px 0 10px 0;
	overflow: hidden;
	border-bottom: 8px black solid;
}

#herobeaches {
	background: url("../images/hero_beaches.jpg");
	width: 100%;
	height: 800px;
	margin: 0;
	padding: 200px 0 10px 0;
	overflow: hidden;
	border-bottom: 8px black solid;
}

#herogear {
	background: url("../images/hero_gear.jpg");
	width: 100%;
	height: 800px;
	margin: 0;
	padding: 200px 0 10px 0;
	overflow: hidden;
	border-bottom: 8px black solid;
}

#herolessons {
	background: url("../images/hero_lessons2.jpg");
	width: 100%;
	height: 800px;
	margin: 0;
	padding: 200px 0 10px 0;
	overflow: hidden;
	border-bottom: 8px black solid;
}

#herowetsuits {
	background: url("../images/hero_wetsuits.jpg");
	width: 100%;
	height: 800px;
	margin: 0;
	padding: 200px 0 10px 0;
	overflow: hidden;
	border-bottom: 8px black solid;
}

#heroinspiration {
	background: url("../images/hero_inspiration.jpg");
	width: 100%;
	height: 800px;
	margin: 0;
	padding: 200px 0 10px 0;
	overflow: hidden;
	border-bottom: 8px black solid;
}

.pagetitle {
	width: 60%;
	margin: 0 auto;
	padding: 100px;
	border: 2px solid white;
}

.musicplayer {
	width: 250px;
	margin: 30px auto;
	text-align: center;
}

.musicplayer p {
	font-size: 20px;
	font-family: 'Open Sans Condensed', sans-serif;
	letter-spacing: .1em;
	font-weight: 700;
}


.main {
	padding: 100px;

}

.maintextbox {
	width: 60%;
	margin: 0 auto;
}

.main p {
	font-size: 21px;
	line-height: 1.6;
	margin: 0 auto;
	text-align: left;
	color: black;
	width: 60%;
}

.maintextbox p ul li {
	font-size: 21px;
	line-height: 1.6;
	margin: 0 auto;
	text-align: left;
	color: black;
	width: 60%;
}

.movie {
	margin: 0 auto;
	padding: 0 100px 0 100px;
}

.icons {
	display: inline-flex;
	justify-content: center;
	margin: 0 auto;
	padding: 0 300px 100px 300px;
	width: 100%;
}

.iconbox{
	width: 100px;
	margin: 0 auto;
	padding: 0;
}

.iconbox p, a {
	text-align: center;
	font-size: 20px;
	font-family: 'Open Sans Condensed', sans-serif;
	letter-spacing: .05em;
	font-weight: 700;
	color: black;
	margin: 0;
	text-decoration: none;
}

.map {
	width: 100%;
	margin: 0;
	padding: 0;
}

#boardicons {
	display: inline-block;
	float: right;
}

.blackbullet {
	background: black;
	color: white;
	font-size: 20px;
	text-align: center;
	padding: 10px;
	margin: 30px auto;
	width: 400px;
	border-radius: 30px;

}

.greybox {
	background: rgb(222, 227, 234);
	display: flex;
	justify-content: center;
	padding: 10px 10px 100px 10px;
}

.greybox2 {
	background: rgb(222, 227, 234);
	justify-content: center;
	align-items: center;
	padding: 100px;
}


.boardform {
	text-align: center;
	margin: 15px auto;
}

.form {
	margin: 0 auto;
	text-align: center;

}

.suits {
	width: 100%;
	margin: 100px auto;
	padding: 0px;
	text-align: center;
}

.wetsuiticons {
	width: 100%;
	margin: 0 auto;
}

h2 {
	font-size: 18px;
	font-weight: bold;
	margin-left: 30px;
}

.beachcard {
	background: white;
	box-shadow: 2px 2px 12px 0px 
	rgba(122, 122, 122, 0.5);
	height: 500px;
	margin: 30px;
	flex: 1;
	overflow: auto; 
}

.lessoncard {
	background: white;
	box-shadow: 2px 2px 12px 0px 
	rgba(122, 122, 122, 0.5);
	overflow: auto;
	margin: 30px;
	flex: 1;
}


.lessonsblurb {
	margin: 20px;
}

.lessonsblurb p {
	font-size: 15px;
	line-height: 1.5;
}

.lessoncard h2, a {
	font-family:'Open Sans Condensed', sans-serif;
	font-weight: 700;
	font-size: 18px;
	text-align: left;
	margin: 0;
}

.beachcard p {
	font-size: 15px;
	line-height: 1.5;
	padding: 0 20px 20px 20px;

}

.beachcard h2, a {
	font-family:'Open Sans Condensed', sans-serif;
	font-weight: 700;
	font-size: 18px;
	text-align: left;
	padding: 10px 20px 0 20px;
	margin: 0;
}

.maintextbox ul, li {
	font-size: 20px;
	line-height: 1.50;
	color: black;
	text-align: left;
	text-decoration: none;
}

.beachconditions {
	width: 100%;
	margin: 50px auto;

}

.beachconditions h3 {
	font-family: 'Georgia', serif;
	font-size: 34px;
	text-align: center;
	margin: 200px auto 100px auto;

}

.linkbutton {
	border: 3px black solid;
	width: 200px;
	margin: 50px auto;
	padding: 10px;
	background-color: white;

}

.linkbutton p {
	text-align: center;
	font-family:'Open Sans Condensed', sans-serif;
	font-weight: 700;
	font-size: 18px;
	margin: 0 auto;
	color: black;

}


.surfboards {
	margin: 200px auto;
	border: 7px black solid;
	padding: 10px 10px 10px 20px;
	width: 80%;
}

.surfboards h1 {
	text-decoration: none;
	color: black;
	font-size: 55px;
	letter-spacing: 0.2em;
	line-height: 1;
	text-align: center;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
}

.surfboards p {
	text-align: center;
	margin: 0 auto;
	padding: 30px 0 0 0;
}

.clear {
	clear: both;
}

#boardicons {
	margin: 0 auto;
	padding: 0;
	align-items: center;
}

.imagegallery {
	width: 75%
	margin: 0 auto;
	text-align: center;
}


.imagegallery img {
	margin: 0;
	padding: 0;
}

h3 {
	color: rgb(74, 74, 74);
	font-size: 40px;
	line-height: 1;
	text-align: center;
	margin: 25px auto;
	padding: 0;
}

#columnlist {
	column-count: 1;
	margin: 100px 50px 150px 50px;
}

#columnlist ul {
	list-style-type: none;
	font-size: 18px;
	line-height: 1.5;
	color: rgb(74, 74, 74);
}

.video {
	text-align: center;
}

#video {
	width: 75%;
	text-align: center;
	margin: 30px auto 200px auto;
}

#movies {
	margin: 100px auto 100px auto;
	width: 75%;
	background-color: white;
	border: 5px solid black;
}

#movies p {
	text-align: center;
	margin: 0 auto;
	padding-bottom: 30px;
}

#instagallery {
	margin: 0 auto;
	width: 100%;
}


.filmrow, .instarow {
	display: inline-flex;
	justify-content: center;
	padding: 0 25px 0 25px;
	width: 100%;
	margin: 0 auto;
}

.moviebox, .instabox {
	margin: 20px;
	display: center;
}

.instabox p {
	color: black;
}

.moviebox img {
	height: 300px;
	margin: 0 30px 30px 30px;
}

footer {
	background-color: black;
	width: 100%;
	padding: 50px;
	margin: 100px 0 0 0;


}

footer p {
	font-family:'Open Sans Condensed', sans-serif;
	font-weight: 700;
	font-size: 16px;
	text-align: left;
	letter-spacing: .05em;
	color: white;
	padding: 20px;
	margin: 20px;
}