* {
	box-sizing: border-box;
}

body {
	font-size: 16px;
	max-width: 1200px;
	margin: 0 auto;
	background: linear-gradient(to top right, #012266, #1280ed);
}

#page {
	background: #012266; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #012266, #1280ed); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(bottom right, #012266, #1280ed); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(bottom right, #012266, #1280ed); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(to bottom right, #012266, #1280ed); /* Standard syntax */
}

p {
	font-size: 1em;
	font-family: 'Georgia', serif;
}

p, h2, h3, a, ul {
	font-family: 'Georgia', serif;
}

h1 {
	font-family: 'Knewave', cursive;
  	text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
	color: white;
	font-size: 3.75em;
	letter-spacing: 0.15em;
	line-height: 1;
	text-align: center;
	margin: 0 auto;
	padding: 0;
}

h2 {
	font-size: 3em;
	font-weight: bold;
	margin-left: 30px;
}

h3 {
	color: white;
	font-size: 40px;
	line-height: 1;
	text-align: center;
	margin: 25px auto;
	padding: 0;
}

header {
	background-color: black;
	padding: 10px;
	width: 1200px;
	margin: 0;
	position: fixed;
	top: 0;
	border-bottom: 2px solid #03b73f;
	z-index: 100;
}

header a {
	display: inline-block;
}

header img {
	float: left;
	width: 130px;
}

.container {
	width: 95%;
	margin: 0 auto;
	overflow: hidden;
}

#navbar{
	float: right;
	padding-top: 10px;
}

#navbar a {
	font-size: 1.2em;
	color: white;
	margin-left: 2em;
	text-decoration: none;
	font-family: 'Open Sans Condensed', sans-serif;
	letter-spacing: .1em;
	font-weight: 700;
	display: inline-block;
}

.clear {clear: both;}

.knewavewhite, .knewaveblack {
	font-family: 'Knewave', cursive;
	font-size: 2.3em;
	letter-spacing: .3em;
	text-align: center;
	padding: 40px 0 40px 0;
}

.knewavewhite {
	color: white;
}

.knewaveblack h2 {
	color: black;
}

.surfterms {
	width: 100%;
	margin: 0 auto;
	padding: 50px;
}


#surficon {
	width: 10%;
	display: block;
	text-align: center;
	margin: 100px auto -70px auto;
	padding: 0;
}


.lingo_row1, .lingo_row2, .lingo_row3 {
	width: 90%;
	display: flex;
	margin: 0 auto;
	padding: 10px;
}

.lingo {
	width: 8%;
	height: 200px;
	margin: 20px;
	text-align: center;
	flex: 1;
	border: .5px solid white;
}

	.lingo img {
		width: 30%;
}

.word {
	font-family: 'Knewave', cursive;
	font-size: 1.6em;
	letter-spacing: .1em;
	color: white;
	text-align: center;
	flex: 1;
	margin: 0 auto;
	padding: 30px;
}

.def {
	font-family: 'Georgia', serif;
	font-size: 1.1em;
	line-height: 1.3;
	letter-spacing: .005em;
	color: white;
	text-align: center;
	display: none;
	margin: 0 auto;
	padding: 5px;
	height: 200px;
}

#heroindex, #herobeaches, #herogear, #herolessons, #heroinspiration 
	{
	width: 100%;
	height: 100vh;
	margin: 0;
	padding: 50px 0;
	overflow: none;
	border-bottom: 2px solid #03b73f;
}

#heroindex {
	background: url("../images/duotone/hero_index_duotone.jpg");
}

#herobeaches {
	background: url("../images/duotone/hero_lessons2_duotone.jpg");
}

#herogear {
	background: url("../images/duotone/hero_gear3_duotone.jpg");
}

#herolessons {
	background: url("../images/duotone/hero_lessons2_duotone.jpg");
}

#herowetsuits {
	background: url("../images/duotone/hero_wetsuits2_duotone.jpg");
	width: 100%;
	height: 80vh;
	overflow: none;
	margin: 0;
	padding: 40px;
}

#heroinspiration {
	background: url("../images/duotone/hero_inspiration_duotone.jpg");
}

.pagetitle {
	width: 60%;
	margin: 200px auto;
	padding: 100px;
	border: 2px solid white;
}

.pagetitle h1 {
	font-family: 'Knewave', cursive;
  	text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
	color: white;
	font-size: 3.75em;
	letter-spacing: 0.15em;
	line-height: 1;
	text-align: center;
	margin: 0 auto;
	padding: 0;
}

.pagetitle2 {
	width: 60%;
	margin: 300px auto;
	padding: 60px;
	border: 2px solid white;
}

.main {
	padding: 100px;
}

.main p {
	font-size: 1.4em;
	line-height: 1.6;
	margin: 0 auto;
	text-align: center;
	color: white;
	width: 60%;
	letter-spacing: .03em;
	font-family: 'Georgia', serif;
}

.main img {
	width: 15%;
	text-align: center;
	padding-bottom: 10px;
}

.musicplayer {
	width: 300px;
	margin: 30px auto;
	text-align: center;
}

.musicplayer p {
	font-size: 1.1em;
	font-family: 'Open Sans Condensed', sans-serif;
	letter-spacing: .1em;
	font-weight: 700;
	color: white;
}

.movie {
	margin: 0 auto;
	padding: 0 100px 0 100px;
}

.icons {
	display: inline-flex;
	justify-content: center;
	margin: 0 auto;
	padding: 100px 100px 100px 100px;
	width: 100%;
}

.iconbox{
	width: 30%;
	margin: 0 auto;
	padding: 0 10px;
}

.iconbox p, a {
	text-align: center;
	font-size: 1.2em;
	font-family: 'Knewave', sans-serif;
	letter-spacing: .1em;
	color: white;
	margin-top: 0;
	padding: 0;
	text-decoration: none;
}

.iconbox p:hover {
	color: #03b73f;
}

.giphybox {
	width: 30%;
	margin: 0 auto;
	padding: 0 10px;
}

.iconbubble {
	margin: 0 auto 10px auto;
}

#map {
	height: 60vh;
	width: 100%;
	margin: 0 auto 50px auto;
	padding: 0;
}


#mydiv p {
	font-size: 1em;
	font-family: 'Georgia', serif;
	text-align: left;
}

.bluebox {
	background: linear-gradient(to top right, #012266, #1280ed);
	text-align: center;
	align-items: center;
	padding: 60px;
}

.boardform {
	text-align: center;
	margin: 15px auto;
	font-size: 1.2em;
	color: white;
	font-family: 'Georgia', serif;
}

.form {
	margin: 0 auto;
	text-align: center;
}

.suits {
	background: white;
	width: 100%
	margin: 0 auto;
	padding: 100px 15px;
}

.wetsuiticons {
	width: 100%;
	margin: 0 auto;
	display: flex;
}

.wetsuitdetail1, .wetsuitdetail2, .wetsuitdetail3 {
	flex: 1;
	margin: 10px auto;
	padding: 0px;
	overflow: auto;
	transition: all .2s ease-in-out;
	position: relative;
}

.wetsuitdetail1:hover { 
		transform: scale(1.1); 
}

.wetsuitdetail2:hover { 
		transform: scale(1.1); 
}

.wetsuitdetail3:hover { 
		transform: scale(1.1); 
}

.wetsuitdetail1 img {
	margin: 0 auto;
	width: 80%;
	display: block;
	opacity: .3;
}

.wetsuitdetail2 img {
	margin: 0 auto;
	width: 80%;
	display: block;
	opacity: .3;
}

.wetsuitdetail3 img {
	margin: 0 auto;
	width: 80%;
	display: block;
	opacity: .3;
}
.wetsuitblurb {
	font-family: 'Knewave', serif;
	letter-spacing: .05em;
	font-weight: 700;
	color: #03b73f;
	font-size: 1.3em;
	text-align: center;
}

#watertemp {
	background: linear-gradient(to top right, #012266, #1280ed);
	width: 100%;
	margin: 100px auto;
}

#watertemp h2 {
	font-family: 'Knewave', cursive;
	text-shadow: none;
	font-size: 2.2em;
	letter-spacing: 0.3em;
	line-height: 1.5;
	text-align: center;
	margin: 20px auto 40px auto;
	padding: 0;
	color: white;
}

#tempgiphys {
	display: flex;
	width: 100%;
}

.giphybox {
	margin: 0 auto;
}

#temp1, #temp2, #temp3 {
	width: 50%;
	margin: 0 10px;
	text-align: center;
	padding: 0 10px 0 10px;
	position: relative; 
	padding-bottom: 20%; height: 0; 
	overflow: hidden; max-width: 95%; } 

#temp1 iframe, 
#temp1 object, #temp1 
	embed { position: absolute; top: 0; 
	left: 0; width: 100%; height: 100%; }


#temp2 iframe, 
#temp2 object, #temp1 
	embed { position: absolute; top: 0; 
	left: 0; width: 100%; height: 100%; }

#temp3 iframe, 
#temp3 object, #temp1 
	embed { position: absolute; top: 0; 
	left: 0; width: 100%; height: 100%; }


#thumbnails{
	margin: 0 auto;
	padding: 20px;
	width: 65%;
	display: flex;
}

.thumb {
	margin: 2%;
	width: 10%;
	height: 10%;
	flex: 1;
	opacity: 65%;
	cursor: pointer;
}

.beaches {
	width: 80%;
	margin: 100px auto;
	padding: 0;
	display: flex;
}

.beaches h4 {
	font-family: "Knewave", cursive;
	font-size: 1.2em;
	letter-spacing: 0.06em;
	line-height: 1.5;
	text-align: left;
	color: white;
	margin: 0;
}

.beachdetail {
	margin-left: 20px;
	width: 60%;
}

.beachdetail p {
	font-size: 1.2em;
	line-height: 1.6;
	letter-spacing: 0.05em;
	color: white;
	font-family: 'Georgia', serif;
}

.bigimage {
	width: 400px;
	height: 400px;
	margin: 0 auto;
	padding: 0;
	display: block;
	flex: 1;
}

.whitebox {
	width: 100%;
	background: white;
}

.whitebox img {
	width: 8%;
	margin: 0 auto;
	text-align: center;
	padding: 30px 0 0 0;
	display: block;
}

.beachconditions {
	width: 100%;
	margin: 50px auto;
	display: flex;
	background: white;
}

.beachconditions h3 {
	font-family: 'Georgia', serif;
	font-size: 1.3em;
	text-align: center;
	margin: 10px auto;
	padding: 0 30px;
	line-height: 1.6;
	color: grey;
	letter-spacing: .02em;
}

.conditions {
	width: 50%;
	padding: 10px;
}

.knewaveblack2 {
	font-family: 'Knewave', cursive;
	font-size: 1.8em;
	letter-spacing: .3em;
	text-align: center;
	padding: 10px 0 10px 0;
	color: black;
}

.knewavewhite2 {
	font-family: 'Knewave', cursive;
	font-size: 1.8em;
	letter-spacing: .3em;
	text-align: center;
	padding: 10px 0 10px 0;
	color: white;
}

.beachbutton {
	width: 30%;
	background: black;
	margin: 30px auto;
	padding: 10px;
	text-align: center;
	transition: all 0.2s ease 0s;
}

.beachbutton:hover {
	 background: #03b73f;
}

.whitebutton {
	width: 20%;
	background: #03b73f;
	margin: 40px auto;
	padding: 5px;
    transition: all 0.2s ease 0s;
}

.whitebutton:hover {
	 background: white;
}

.beachbutton a {
	text-align: center;
	font-family:'Open Sans Condensed', sans-serif;
	font-weight: 700;
	font-size: 1.1em;
	color: white;
	margin: 0 auto;
	padding: 10px 0;
	display: block;
}

.whitebutton p {
	text-align: center;
	font-family:'Open Sans Condensed', sans-serif;
	font-weight: 700;
	font-size: 1.1em;
	color: black;
}

.schools {
	width: 100%;
	display: flex;
	margin: 40px auto;
	padding: 5px;
}

.school {
	flex: 1;
	padding: 5px;
	width: 100%;
	margin: 0 auto;
}

.school a, h3 {
	font-family: 'Knewave', serif;
	font-size: 1.1em;
	line-height: 1.5;
	letter-spacing: 0.06em;
	color: white;
	text-align: left;
	margin: 0;
}

.school h3:hover {
	color: #03b73f;
}

.school p {
	font-family: 'Georgia', serif;
	font-size: 1em;
	line-height: 1.7em;
	color: white;
	text-align: left;
	margin: 0;
	padding-top: 10px;
	width: 85%;
}

.school img {
	width: 75%;
	border-radius: 50%
}

#shops a:hover {
	color:#03b73f;

}

.photogallery {
	width: 90%;
	margin: 30px auto;
	padding-bottom: 50px;
	display: flex;
}

.photogallery img {
	width: 300px;
	height: 300px;
	margin: 0 auto;
	display: block;
	padding: 10px;
	border-radius: 50%;
}

.surfboards {
	margin: 0 auto;
	padding: 0;
	width: 100%;
}

.surfboards h2, .blackbox h2, .suits h2 {
	font-family: 'Knewave', cursive;
	text-shadow: none;
	font-size: 2.2em;
	letter-spacing: 0.3em;
	line-height: 1.5;
	text-align: center;
	margin: 20px auto 40px auto;
	padding: 0;
	color: white;
}

.suits h2 {
	color: black;
}

.blackbox {
	background: linear-gradient(to top right, #121212, #344766);;
	text-align: center;
	padding: 100px 0 100px 0;
	width: 100%;
}

.surfboards {
	margin: 0 auto;
	/*padding: 10px;*/
}

.surfboards h4 {
	font-size: 1em;
	line-height: 1.6;
	letter-spacing: 0.05em;
	text-align: center;
	font-family: 'Georgia', serif;
	margin: 0 auto 20px auto;
	padding: 0;
	color: white;
}

.clear {
	clear: both;
}

#boardicons {
	margin: 0 auto;
	padding: 0;
	align-items: center;
	display: flex;
	width: 90%;
}

.boardicon {
	margin: 0 auto 100px auto;
	height: 500px;
	width: 12%;
	position: relative;
}

.boardicon p {
	background-color: #03b73f;
	opacity: .95;
	font-size: 0.8em;
	line-height: 1.4;
	letter-spacing: 0.004em;
	color: white;
	font-family: 'Georgia', serif;
	margin: 0 auto;
	padding: 15px;
	top: 300px;
	z-index: 100;
	position: absolute;
	width: 100%;
	display: none;
}

.board img {
	display: block;
	width: 90%;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	bottom: 400px;
}

#longboard_size {
	width: 70%;
	margin: 20px auto 50px auto;
}

#boardsize p{
	color: #03b73f;
	font-family: 'Knewave', cursive;
	font-size: 1.8em;
	text-align: center;
}

#tempbuttons {
	width: 100%;
	display: flex;
	margin: 0 auto;
}

.tempbutton {
	width: 30%;
	background: black;
	margin: 30px auto;
	padding: 10px;
	text-align: center;
	transition: all 0.2s ease 0s;
	display: block;
}

.tempbutton p {
	text-align: center;
	font-family:'Open Sans Condensed', sans-serif;
	font-weight: 700;
	font-size: 1.1em;
	color: white;
	margin: 0 auto;
	padding: 10px 0;
	display: block;
}

.tempbutton:hover {
	 background: #03b73f;
}

.imagegallery {
	width: 75%
	margin: 0 auto;
	text-align: center;
}


.imagegallery img {
	margin: 0;
	padding: 0;
}

#video {
	text-align: center;
	margin: 100px auto 100px auto;
}

#movies {
	margin: 0 auto;
	width: 100%;
	padding: 50px 100px 50px 100px;
	background-color: black;
}

#movies p {
	text-align: center;
	font-size: 1.2em;
	margin: -40px auto 20px auto;
	padding-bottom: 30px;
	color: white;
}

#instagallery {
	margin: 0 auto;
	width: 100%;
	padding-bottom: 100px;
}


.instabox img:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.instabox img {
	width: 30%;
}

.filmrow, .instarow {
	display: inline-flex;
	justify-content: center;
	padding: 0 25px 0 25px;
	width: 100%;
	margin: 0 auto;
}

.moviebox, .instabox {
	margin: 20px;
	display: center;
}

.instabox img {
	width: 275px;
}

.instabox p {
	color: white;
	font-size: 1.3em;
	margin: 0;
	padding: 0;
}

#endless {
	font-family: 'Georgia', serif;
	font-size: 1.4em;
	line-height: 1.8;
	letter-spacing: 0.04em;
	text-align: center;
	color: white;
	margin: 10px auto 30px auto;
	width: 55%;
}

.moviebox img {
	height: 300px;
	margin: 0 30px 30px 30px;
}

.moviebox { transition: all .2s ease-in-out; }

.moviebox:hover { transform: scale(1.1); }



#video { 
	width: 65%;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 100px;
	position: relative; 
	padding-bottom: 56.25%; height: 0; overflow: 
	hidden; max-width: 100%; } 

#video iframe, 
#video object, #video 
	embed { position: absolute; top: 0; 
	left: 0; width: 100%; height: 100%; }


#videocontainer img {
	width: 10%;
	text-align: center;
	padding-bottom: 0;
	display: block;
	margin: 100px auto 0 auto;
}

.videocredit {
	font-family: 'Georgia' serif;
	font-size: 1em;
	font-style: italic;
	color: white;
	text-align: center;
	margin: 10px auto 50px auto;
	width: 100%;
}

.instagramvideo p {
	font-family: 'Georgia' serif;
	font-size: 1em;
	color: white;
	text-align: center;
	margin: 10px auto 50px auto;
}

#credits p {
	color: white;
	width: 10%;
}

#small-nav, #small-nav a {
	display: none;
}

#burger {
	display: none;
	float: right;
	margin-top: 5px;
}

footer {
	background-color: black;
	width: 100%;
	padding: 30px;
	margin: 30px 0 0 0;
}

footer a {
	margin: 0 20px;
}

footer img {
	width: 30px;
}


footer p {
	display: inline-block;
	font-family:'Open Sans Condensed', sans-serif;
	font-weight: 700;
	font-size: .9em;
	text-align: left;
	letter-spacing: .05em;
	color: white;
	margin: 10px;
}


/*MEDIA QUERY FOR SCREENS BETWEEN 800 AND 1200 PX
*/

@media (max-width: 1200px) and (min-width: 800px) {

	body {
	font-size: 16px;
	width: 800px;
}

	header {
		width: 800px;
	}

	#page {
		width: 800px;
	}

	#navbar {
		display: none;
	}

	#burger {
		display: block;
	}
	
	#small-nav {
		position: absolute;
		width: 800px;
	}

	#small-nav a {
		display: block;
		text-decoration: none;
		background: black;
		color: white;
		padding: 10px 0 15px 0;
		font-family: 'Open Sans Condensed', sans-serif;
		font-size: 1.1em;
		font-weight: 700;
	}

	#small-nav a:hover {
		background: #03b73f;
	}

	#small-nav a:nth-child(1) {
	padding-top: 90px;
}

	#burger img {
		width: 30px;
	}

	.pagetitle {
	width: 60%;
	margin: 300px auto;
	padding: 50px;
	border: 2px solid white;
}

.pagetitle h1 {
	font-family: 'Knewave', cursive;
  	text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
	color: white;
	font-size: 2.5em;
	letter-spacing: 0.15em;
	line-height: 1;
	text-align: center;
	margin: 0 auto;
	padding: 0;
}

.main p {
	width: 90%;
}

.musicplayer p {
	font-size: 1.1em;
	font-family: 'Open Sans Condensed', sans-serif;
	letter-spacing: .1em;
	font-weight: 700;
	color: white;
}

#instagallery {
	width: 100%;
}

.instarow {
	width: 100%;
	margin: 0 auto;
}

.instabox img {
	width: 230px;
	margin: 0;
	padding: 0;
	display: inline-block;
}

.instabox p {
	font-size: 1.1em;
}

.filmrow {
	width: 100%;
	margin: 0 auto;
}

.filmrow {
	width: 100%;
	margin: 0 auto;
}

.moviebox img {
	width: 220px;
	margin: 0 auto;
}

.photogallery {
	width: 90%;
	margin: 10px auto;
	padding-bottom: 20px;
	display: flex;
}

.photogallery img {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	display: block;
	padding: 10px;
	border-radius: 50%;
}

#endless {
	width: 95%;
}

}

/*SCREENS BETWEEN 480 AND 800 PX
*/


@media (max-width: 799px) and (min-width: 480px) {

	body {
		font-size: 10px;
		width: 480px;
	}
	
	header {
		max-width: 480px;
	}

	#navbar {
		display: none;
	}

	#burger {
		display: block;
	}
	
	#small-nav {
		position: absolute;
		width: 480px;
	}

	#small-nav a {
		display: block;
		text-decoration: none;
		background: black;
		color: white;
		padding: 10px 0;
		font-family: 'Open Sans Condensed', sans-serif;
		font-size: 1.4em;
		font-weight: 700;
}

	#small-nav a:nth-child(1) {
	padding-top: 80px;
}

	#small-nav a:hover {
		background: #03b73f;
	}

	#burger img {
		width: 30px;
	}

	#heroindex, #herobeaches, #herogear, #heroinspiration {
		width: 100%;
		height: 60vh;
		margin: 0;
		padding: 100px 0 20px 0;
		overflow: none;
		border-bottom: 2px solid #03b73f;
}

	#heroindex {
	background: url("../images/duotone/hero_index_duotone_med.jpg");
}

	#herobeaches {
	background: url("../images/duotone/hero_lessons2_duotone_med.jpg");
}

	#herogear {
	background: url("../images/duotone/hero_gear3_duotone_med.jpg");
}

	#herowetsuits {
	background: url("../images/duotone/hero_wetsuits2_duotone_med.jpg");
	width: 100%;
	margin: 0;
	padding: 30px;
}

	#heroinspiration {
	background: url("../images/duotone/hero_inspiration_duotone_med.jpg");
}

.pagetitle {
	width: 50%
	margin: 50px auto 0 auto;
	padding: 20px;
	border: 2px solid white;
}

.main {
		padding: 50px;
}

.main p {
		width: 100%;
		font-size: 1.9em;
		font-family: 'Georgia', serif;
}

.musicplayer p {
	font-size: 1.1em;
	font-family: 'Open Sans Condensed', sans-serif;
	letter-spacing: .1em;
	font-weight: 700;
	color: white;
}

.main img {
	width: 40%;
	text-align: center;
	padding-bottom: 10px;
}

.videocredit {
	font-size: 1.4em;
	line-height: 1.6;
	font-style: italic;
}

.surficon { pointer-events: none;
		width: 30%;
		display: block;
		text-align: center;
		margin: 50px auto -50px auto;
		padding: 0;
}

.surfterms {
		width: 100%;
		margin: 0 auto;
		padding: 0;
}

.lingo_row1, .lingo_row2, .lingo_row3 {
		width: 100%;
		display: block;
		margin: 0 auto;
		padding: 0;
}

	.lingo {
		width: 70%;
		margin: 30px auto;
		text-align: center;
		border: .5px solid white;
}

	.lingo img {
		width: 30%;
}

	.word {
		width: 100%;
		padding: 50px 0;
		margin: 0 auto;
		display: block;
}

	.def {
		font-family: 'Georgia', serif;
		font-size: 1.5em;
		line-height: 1.8;
		letter-spacing: .005em;
		color: white;
		text-align: center;
		display: none;
		margin: 0 auto;
		padding: 5px;
}


	.icons {
		display: block;
		justify-content: center;
		margin: 0 auto;
		padding: 50px 100px 100px 100px;
		width: 100%;
	}

	.iconbox{
		width: 50%;
		margin: 0 auto;
		padding: 0;
	}

	.iconbox p, a {
		text-align: center;
		font-size: 1.2em;
		font-family: 'Knewave', sans-serif;
		letter-spacing: .1em;
		color: white;
		margin-top: 0;
		padding: 0;
		text-decoration: none;
	}

	.iconbox p:hover {
		color: #03b73f;
	}

	.iconbubble {
		margin: 0 auto 10px auto;
	}

.beaches {
		width: 100%
		margin: 10px auto;
	/*	padding: 10px;*/
		display: block;
}

.beaches h4 {
		font-family: "Knewave", cursive;
		font-size: 2em;
		letter-spacing: 0.1em;
		line-height: 1.5;
		text-align: left;
		color: white;
		margin: 10px auto;
}

.beachdetail {
		width: 100%;
		margin: 0;
		padding: 0;
}

.beachdetail p {
		font-size: 1.7em;
		line-height: 1.7;
		letter-spacing: 0.05em;
		color: white;
		font-family: 'Georgia', serif;
}

.bigimage {
	width: 400px;
	height: 400px;
	margin: 0 auto;
	padding: 0;
	display: block;
}

.knewaveblack2 {
	font-family: 'Knewave', cursive;
	font-size: 2.8em;
	letter-spacing: .3em;
	text-align: center;
	padding: 10px 0 10px 0;
	color: black;
}

.whitebox img {
	width: 15%;
	margin: 0 auto;
	text-align: center;
	padding: 30px 0 0 0;
	display: block;
}

.beachconditions {
	width: 100%;
	margin: 30px auto;
	display: block;
	background: white;
}

.beachconditions h3 {
	font-size: 2em;
	margin: 10px auto;
	padding: 0 30px;
	line-height: 1.6;
	color: grey;
	letter-spacing: .02em;
}

.conditions {
	width: 100%;
	padding: 10px;
}


.beachbutton {
	width: 40%;
	background: black;
	margin: 30px auto;
	padding: 10px;
	text-align: center;
	transition: all 0.2s ease 0s;
}

.beachbutton a {
	font-size: 1.8em;
	margin: 0 auto;
	padding: 10px 0;
	display: block;
}

.knewavewhite, .knewaveblack {
	font-size: 2.8em;
	letter-spacing: .3em;
	padding: 40px 0 40px 0;
}

.schools {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	display: block;
}

.school {
	margin: 0 auto;
	width: 100%;
}

.school a, h3 {
	font-family: 'Knewave', serif;
	font-size: 1.4em;
	line-height: 1.5;
	letter-spacing: 0.06em;
	text-align: left;
	margin: 0;
	display: block;
	padding: 0;
}

.school p {
	font-family: 'Georgia', serif;
	font-size: 1.5em;
	line-height: 1.7em;
	margin: 0 auto;
	text-align: left;
	padding: 0;
}

.school img {
	width: 300px;
	height: 300px;
	margin: 20px auto;
	display: block;
}

.pagetitle2 {
	width: 50%;
	margin: 15px auto;
	padding: 10px;
	border: 2px solid white;
}
.pagetitle2 h1 {
	font-size: 3.3em;
	letter-spacing: 0.15em;
	line-height: 1;
}

.bluebox {
	width: 100%;
	margin: 0 auto;
	padding: 0;
}

#instagallery {
	margin: 0 auto;
	width: 100%;
	padding-bottom: 40px;
}

.instarow {
	display: block;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.instabox img:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.instabox {
	margin: 0 auto;
}

.instabox img {
	width: 400px;
}

.instabox p {
	color: white;
	font-size: 1.5em;
	margin: 0 auto;
	padding: 0 0 15px 0;
}

.filmrow {
	display: block;
	justify-content: center;
	padding: 0 20px 0 20px;
	width: 100%;
	margin: 0 auto;
}

#movies {
	margin: 0 auto;
	width: 100%;
	padding: 10px;
	background-color: black;
}

#movies p {
	text-align: center;
	font-size: 1.5em;
	letter-spacing: 0.006em;
	margin: -40px auto 20px auto;
	padding-bottom: 30px;
	color: white;
}

.moviebox {
	margin: 20px auto;
	text-align: center;
	width: 100%;
}

.moviebox img {
	height: 400px;
}

#videocontainer {
	width: 100%;
	margin: 0 auto;
	padding-bottom: 100px;
	text-align: center;
}

#videocontainer img {
	width: 40%;
	display: block;
	margin: 100px auto 0 auto;
}

#video {
	width: 100%;
	margin: 0 auto;
}

#endless {
	font-size: 1.8em;
	line-height: 2;
	letter-spacing: 0.04em;
	margin: 10px auto 30px auto;
	width: 100%;
}

.photogallery {
	width: 90%;
	margin: 10px auto;
	padding-bottom: 20px;
	display: block;
}

.photogallery img {
	width: 125px;
	height: 125px;
	margin: 0 auto;
	display: block;
	padding: 5px;
	border-radius: 50%;
}

footer {
		background-color: black;
		width: 100%;
}

	footer a {
		margin: 10px 15px;
		display: inline-block;
}

	footer img {
		width: 30px;
}


	footer p {
		font-family:'Open Sans Condensed', sans-serif;
		font-weight: 700;
		font-size: 1.5em;
		text-align: left;
		letter-spacing: .05em;
		color: white;
		margin: 20px auto;
		display: block;
		text-align: center;
}

} /*end of media query for screens between 480 and 768 px */





/*media query for screens between 320 and 480 px */

@media (max-width: 480px) and (min-width: 320px) {

	body {
		font-size: 9px;
		width: 320px;
	}
	
	header {
		max-width: 320px;
	}

	#page {
		width: 320px;
	}

	#heroindex, #herobeaches, #herogear, #heroinspiration 
	{
		width: 100%;
		height: 60vh;
		margin: 0;
		padding: 20px 0;
		overflow: none;
		border-bottom: 2px solid #03b73f;
}

	#heroindex {
	background: url("../images/duotone/hero_index_duotone_sm.jpg");
}

	#herobeaches {
	background: url("../images/duotone/hero_lessons2_duotone_sm.jpg");
}

	#herogear {
	background: url("../images/duotone/hero_gear3_duotone_sm.jpg");
}

	#herowetsuits {
	background: url("../images/duotone/hero_wetsuits2_duotone_sm.jpg");
	width: 100%;
	overflow: none;
	margin: 0;
	height: 50vh;
	padding: 10px;
}

	#heroinspiration {
	background: url("../images/duotone/hero_inspiration_duotone_sm.jpg");
}

	#navbar {
		display: none;
	}

	#burger {
		display: block;
	}
	
	#small-nav {
		position: absolute;
		width: 320px;
	}

	#small-nav a {
		display: block;
		text-decoration: none;
		background: black;
		color: white;
		font-size: 2em;
		font-weight: 700;
		font-family: 'Open Sans Condensed', sans-serif;
		padding: 10px 0 10px 0;
}

	#small-nav a:nth-child(1) {
		padding-top: 80px;
	}


	#small-nav a:hover {
		background: #03b73f;
	}

	#burger img {
		width: 30px;
	}

	.pagetitle {
		width: 100%
		margin: 0 auto;
		padding: 0px 0;
		border: 2px solid white;
	}

	.main {
		padding: 50px;
	}

	.main p {
		width: 90%;
		font-size: 1.5em;
		font-family: 'Georgia', serif;
	}

	.musicplayer p {
	font-size: 1.1em;
	font-family: 'Open Sans Condensed', sans-serif;
	letter-spacing: .1em;
	font-weight: 700;
	color: white;
}

	.surficon {
		width: 30%;
		display: block;
		text-align: center;
		margin: 50px auto -50px auto;
		padding: 0;
	}

	.surfterms {
		width: 100%;
		margin: 0 auto;
		padding: 0;
	}

	.lingo_row1, .lingo_row2, .lingo_row3 {
		width: 100%;
		display: block;
		margin: 0 auto;
		padding: 0;
}

	.lingo {
		width: 70%;
		margin: 30px auto;
		text-align: center;
		border: .5px solid white;
}

	.lingo img {
		width: 30%;
}

	.word {
		width: 100%;
		padding: 50px 0;
		margin: 0 auto;
		display: block;
}

	.def {
		font-family: 'Georgia', serif;
		font-size: 1.3em;
		line-height: 1.3;
		letter-spacing: .005em;
		color: white;
		text-align: center;
		display: none;
		margin: 0 auto;
		padding: 5px;
}


	.icons {
		display: block;
		justify-content: center;
		margin: 0 auto;
		padding: 50px 100px 100px 100px;
		width: 100%;
	}

	.iconbox{
		width: 50%;
		margin: 0 auto;
		padding: 0;
	}

	.iconbox p, a {
		text-align: center;
		font-size: 1.2em;
		font-family: 'Knewave', sans-serif;
		letter-spacing: .1em;
		color: white;
		margin-top: 0;
		padding: 0;
		text-decoration: none;
	}

	.iconbox p:hover {
		color: #03b73f;
	}

	.iconbubble {
		margin: 0 auto 10px auto;
	}

.main img {
	width: 50%;
	padding-bottom: 20px 0;
}

.beaches {
		width: 100%
		margin: 0 auto;
		padding: 0;
		display: block;
}

.beaches h4 {
		font-family: "Knewave", cursive;
		font-size: 1.8em;
		letter-spacing: 0.06em;
		line-height: 1.5;
		text-align: left;
		color: white;
		margin: 0;
}

.beachdetail {
		width: 100%;
		margin: 0 auto;
		padding: 20px;
}

.beachdetail h4 {
		width: 100%;
		margin: 0 auto;
		padding: 10px;
}

.beachdetail p {
		font-size: 1.4em;
		line-height: 1.6;
		letter-spacing: 0.05em;
		color: white;
		font-family: 'Georgia', serif;
}

.bigimage {
	width: 275px;
	height: 275px;
	margin: 20px auto;
	padding: 0;
	display: block;
}


.knewaveblack2 {
	font-family: 'Knewave', cursive;
	font-size: 2.8em;
	letter-spacing: .3em;
	text-align: center;
	padding: 10px 0 10px 0;
	color: black;
}

.whitebox img {
	width: 15%;
	margin: 0 auto;
	text-align: center;
	padding: 30px 0 0 0;
	display: block;
}

.beachconditions {
	width: 100%;
	margin: 30px auto;
	display: block;
	background: white;
}

.beachconditions h3 {
	font-size: 2em;
	margin: 10px auto;
	padding: 0 30px;
	line-height: 1.6;
	color: grey;
	letter-spacing: .02em;
}

.conditions {
	width: 100%;
	padding: 10px;
}


.beachbutton {
	width: 40%;
	background: black;
	margin: 30px auto;
	padding: 10px;
	text-align: center;
	transition: all 0.2s ease 0s;
}

.beachbutton a {
	font-size: 1.8em;
	margin: 0 auto;
	padding: 10px 0;
	display: block;
}

.knewavewhite, .knewaveblack {
	font-size: 2.8em;
	letter-spacing: .3em;
	padding: 40px 0 40px 0;
}

.schools {
	width: 100%;
	margin: 5px auto;
	padding: 0;
	display: block;
}

.school {
	margin: 0 auto;
	width: 100%;
}

.school a, h3 {
	font-size: 1.3em;
	line-height: 1.3;
	letter-spacing: 0.06em;
	text-align: left;
	margin: 0;
	display: block;
	width: 100%;
}

.school p {
	font-size: 1.3em;
	line-height: 1.5em;
	margin: 0;
	text-align: left;
	width: 100%;
}

.school img {
	width: 220px;
	height: 220px;
	margin: 20px auto;
	display: block;
}

.main {
	padding: 20px;
}

#instagallery {
	margin: 0 auto;
	width: 100%;
	padding-bottom: 100px;
}

.instabox img:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.instabox {
	margin: 20px;
	display: center;
}

.instabox p {
	color: white;
	font-size: 1.6em;
	margin: 0;
	padding: 0;
}

.instarow {
	display: block;
	justify-content: center;
	padding: 0 20px 0 20px;
	width: 100%;
	margin: 0 auto;
}

.filmrow {
	display: block;
	justify-content: center;
	padding: 0 20px 0 20px;
	width: 100%;
	margin: 0 auto;
}

#movies {
	margin: 0 auto;
	width: 100%;
	padding: 10px;
	background-color: black;
}

#movies p {
	text-align: center;
	font-size: 1.5em;
	letter-spacing: 0.006em;
	margin: -40px auto 20px auto;
	padding-bottom: 30px;
	color: white;
}

.moviebox {
	margin: 20px auto;
	text-align: center;
	width: 100%;
}

.moviebox img {
	height: 400px;
}

#endless {
	font-size: 1.8em;
	line-height: 2;
	letter-spacing: 0.04em;
	margin: 10px auto 30px auto;
	width: 90%;
}

#videocontainer {
	width: 75%;
	margin: 0 auto;
	padding-bottom: 100px;
	text-align: center;
}

#videocontainer img {
	width: 25%;
	display: block;
	margin: 100px auto 0 auto;
}

.pagetitle {
	width: 75%;
	margin: 250px auto;
	padding: 20px;
}

.pagetitle2 {
	width: 60%;
	margin: 10px auto;
	padding: 10px;
}

.pagetitle2 h1 {
	color: white;
	font-size: 2.2em;
	letter-spacing: 0.15em;
	text-align: center;
	width: 100%;
}

.photogallery {
	width: 95%;
	margin: 10px auto;
	padding-bottom: 10px;
	display: block;
}

.photogallery img {
	width: 95px;
	height: 95px;
	margin: 0 auto;
	display: block;
	padding: 10px;
	border-radius: 50%;
}

#boardicons {
	margin: 0 auto;
	padding: 0;
	align-items: center;
	display: block;
	width: 100%;
}

.boardicon {
	margin: 0 auto 300px auto;
	height: 500px;
	width: 95%;
	position: relative;
}

.boardicon p {
	background-color: #03b73f;
	opacity: .95;
	font-size: 0.8em;
	line-height: 1.4;
	letter-spacing: 0.004em;
	color: white;
	font-family: 'Georgia', serif;
	margin: 0 auto;
	padding: 15px;
	top: 300px;
	z-index: 100;
	position: absolute;
	width: 100%;
	display: none;
}

.board img {
	display: block;
	width: 90%;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	bottom: 400px;
}

	footer {
		background-color: black;
		width: 100%;
	/*	padding: 20px;*/
		/*margin: 20px 0 0 0;*/
}

	footer a {
		margin: 10px 15px;
		display: inline-block;
}

	footer img {
		width: 30px;
}


	footer p {
		font-family:'Open Sans Condensed', sans-serif;
		font-weight: 700;
		font-size: 1.5em;
		text-align: left;
		letter-spacing: .05em;
		color: white;
		margin: 20px auto;
		display: block;
		text-align: center;
}


} /*end of media query for screens between 320 and 480px */
