* {
	box-sizing: border-box;
}

#page {
	background: #012266; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #012266, #1280ed); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(bottom right, #012266, #1280ed); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(bottom right, #012266, #1280ed); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(to bottom right, #012266, #1280ed); /* Standard syntax */
}

body {
	font-size: 16px;
}

p {
	font-size: 1em;
}

p, h2, h3, a, ul {
	font-family: 'Georgia', serif;
}

h1 {
	font-family: 'Knewave', cursive;
  	text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
	color: white;
	font-size: 3.75em;
	letter-spacing: 0.15em;
	line-height: 1;
	text-align: center;
	margin: 0 auto;
	padding: 0;
}

h2 {
	font-size: 3em;
	font-weight: bold;
	margin-left: 30px;
}

h3 {
	color: white;
	font-size: 40px;
	line-height: 1;
	text-align: center;
	margin: 25px auto;
	padding: 0;
}

.knewavewhite, .knewaveblack {
	font-family: 'Knewave', cursive;
	font-size: 2.3em;
	letter-spacing: .3em;
	text-align: center;
	padding: 40px 0 40px 0;
}

.knewavewhite {
	color: white;
}

.knewaveblack h2 {
	color: black;
}

.surfterms {
	width: 100%;
	margin: 0 auto;
	padding: 50px;
}


.surficon {
	width: 10%;
	display: block;
	text-align: center;
	margin: 100px auto -70px auto;
	padding: 0;
}


.lingo_row1, .lingo_row2, .lingo_row3 {
	width: 85%;
	display: flex;
	margin: 0 auto;
	padding: 10px;
}

.lingo {
	width: 8%;
	height: 150px;
	margin: 20px;
	text-align: center;
	flex: 1;
	border: .5px solid white;
}

.word {
	font-family: 'Knewave', cursive;
	font-size: 1.6em;
	letter-spacing: .1em;
	color: white;
	text-align: center;
	flex: 1;
	margin: 0 auto;
	padding: 50px;
}

.def {
	font-family: 'Georgia', serif;
	font-size: .8em;
	line-height: 1.3;
	letter-spacing: .005em;
	color: white;
	text-align: center;
	display: none;
	margin: 0 auto;
	padding: 5px;
}


body {
	width: 100%;
	margin: 0 auto;
	background: linear-gradient(to top right, #012266, #1280ed);
}

header {
	background-color: black;
	padding: 10px;
	width: 100%;
	margin: 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	border-bottom: 2px solid #03b73f;
}

header a {
	display: inline-block;
}

header img {
	float: left;
	width: 130px;
}

.container {
	width: 95%;
	margin: 0 auto;	
}

#navbar{
	float: right;
	padding-top: 10px;
}

#navbar a {
	font-size: 1.2em;
	color: white;
	margin-left: 40px;
	text-decoration: none;
	font-family: 'Open Sans Condensed', sans-serif;
	letter-spacing: .1em;
	font-weight: 700;
	display: inline-block;
}

.clear {clear: both;}

#heroindex, #herobeaches, #herogear, #herolessons, #heroinspiration 
	{
	width: 100%;
	height: 100vh;
	margin: 0;
	padding: 200px 0 10px 0;
	overflow: none;
	border-bottom: 2px solid #03b73f;
}

#heroindex {
	background: url("../images/duotone/hero_index_duotone.jpg");
}

#herobeaches {
	background: url("../images/duotone/hero_lessons2_duotone.jpg");
}

#herogear {
	background: url("../images/duotone/hero_gear3_duotone.jpg");
}

#herolessons {
	background: url("../images/duotone/hero_lessons2_duotone.jpg");
}

#herowetsuits {
	background: url("../images/duotone/hero_wetsuits2_duotone.jpg");
	width: 100%;
	height: 80vh;
	overflow: none;
	margin: 0;
	padding: 100px;
}

#heroinspiration {
	background: url("../images/duotone/hero_inspiration_duotone.jpg");
}

.pagetitle {
	width: 60%;
	margin: 200px auto;
	padding: 100px;
	border: 2px solid white;
}

.musicplayer {
	width: 300px;
	margin: 30px auto;
	text-align: center;
}

.musicplayer p {
	font-size: 1.1em;
	font-family: 'Open Sans Condensed', sans-serif;
	letter-spacing: .1em;
	font-weight: 700;
	color: white;
}

.main {
	padding: 100px;
}

/*.maintextbox {
	width: 60%;
	margin: 0 auto;
}*/

.main p {
	font-size: 1.4em;
	line-height: 1.6;
	margin: 0 auto;
	text-align: center;
	color: white;
	width: 60%;
	letter-spacing: .03em;
}

.main img {
	width: 15%;
	text-align: center;
	padding-bottom: 10px;
}

.movie {
	margin: 0 auto;
	padding: 0 100px 0 100px;
}

.icons {
	display: inline-flex;
	justify-content: center;
	margin: 0 auto;
	padding: 100px 300px 100px 300px;
	width: 100%;
}

.iconbox{
	width: 20%;
	margin: 0 auto;
	padding: 0;
}

.iconbox p, a {
	text-align: center;
	font-size: 1.2em;
	font-family: 'Knewave', sans-serif;
	letter-spacing: .1em;
	color: white;
	margin-top: 0;
	padding: 0;
	text-decoration: none;
}

.iconbox p:hover {
	color: #03b73f;
}

.iconbubble {
	margin: 0 auto 10px auto;
}

#map {
	height: 60vh;
	width: 65%;
	margin: 0 auto 50px auto;
	padding: 0;
}


#mydiv p {
	font-size: 1em;
	font-family: 'Georgia', serif;
	text-align: left;
}


#boardicons {
	display: inline-block;
	float: right;
}

.bluebox {
	background: linear-gradient(to top right, #012266, #1280ed);
	text-align: center;
	align-items: center;
	padding: 60px;
}

.boardform {
	text-align: center;
	margin: 15px auto;
	font-size: 1.2em;
	color: white;
	font-family: 'Georgia', serif;
}

.form {
	margin: 0 auto;
	text-align: center;
}

.suits {
	width: 90%;
	margin: 50px auto;
	padding: 0 200px 0 200px;
}

.wetsuiticons {
	width: 85%;
	margin: 0 auto;
	display: flex;
}

.wetsuitdetail {
	flex: 1;
	margin: 20px auto;
	padding: 10px;
	overflow: auto;
	transition: all .2s ease-in-out; 
}

.wetsuitdetail:hover { transform: scale(1.1); 
}

.wetsuitdetail img {
	margin: 0 auto;
	width: 40%;
}

.wetsuitblurb {
	font-family: 'Knewave', serif;
	letter-spacing: .05em;
	font-weight: 700;
	color: white;
	font-size: 1em;
	text-align: left;
}

#thumbnails{
	margin: 0 auto;
	padding: 20px;
	width: 65%;
	display: flex;
}

.thumb {
	margin: 2%;
	width: 10%;
	height: 10%;
	flex: 1;
	opacity: 65%;
	cursor: pointer;
}

.beachdetail {
	display: flex;
	margin: 50px auto;
	width: 100%;
	padding: 0 100px 100px 100px;
}

.beachdetail p {
	height: 200px;
	margin: 20px;
	font-size: 1.2em;
	line-height: 1.6;
	letter-spacing: 0.05em;
	color: white;
	font-family: 'Georgia', serif;
}

.beachdetail h4, a {
	font-family: "Knewave", cursive;
	font-size: 1.2em;
	letter-spacing: 0.06em;
	line-height: 1.5;
	text-align: left;
	color: white;

}

#bigimage {
	width: 60%;
	height: 60%;
	padding: 0 30px 0 30px;
}

.beachconditions {
	width: 100%;
	margin: 50px auto;
	display: flex;
	background: white;
}

.beachconditions h3 {
	font-family: 'Georgia', serif;
	font-size: 1.3em;
	text-align: center;
	margin: 10px auto;
	padding: 0 30px;
	line-height: 1.6;
	color: grey;
	letter-spacing: .02em;
}

.whitebox {
	width: 100%;
	background: white;
}

.whitebox img {
	width: 8%;
	margin: 0 auto;
	text-align: center;
	padding: 30px 0 0 0;
	display: block;
}

.conditions {
	width: 50%;
	padding: 10px;
}

.knewaveblack2 {
	font-family: 'Knewave', cursive;
	font-size: 1.8em;
	letter-spacing: .3em;
	text-align: center;
	padding: 10px 0 10px 0;
	color: black;
}

.knewavewhite2 {
	font-family: 'Knewave', cursive;
	font-size: 1.8em;
	letter-spacing: .3em;
	text-align: center;
	padding: 10px 0 10px 0;
	color: white;
}

.beachbutton {
	width: 30%;
	background: black;
	margin: 30px auto;
	padding: 10px;
	text-align: center;
	transition: all 0.2s ease 0s;
}

.beachbutton:hover {
	 background: #03b73f;
}

.whitebutton {
	width: 20%;
	background: white;
	margin: 40px auto;
	padding: 5px;
    transition: all 0.2s ease 0s;
}

.whitebutton:hover {
	 background: #03b73f;
}

.beachbutton a {
	text-align: center;
	font-family:'Open Sans Condensed', sans-serif;
	font-weight: 700;
	font-size: 1.1em;
	color: white;
	margin: 0 auto;
	padding: 10px 0;
	display: block;
}

.whitebutton p {
	text-align: center;
	font-family:'Open Sans Condensed', sans-serif;
	font-weight: 700;
	font-size: 1.1em;
	color: black;
}

.schools {
	width: 100%;
	display: flex;
	margin: 40px auto;
	padding: 0 20px;
}

.school {
	flex: 1;
	padding: 20px;
	margin: 20px 0;
}

.school a, h3 {
	font-family: 'Knewave', serif;
	font-size: 1.1em;
	line-height: 1.5;
	letter-spacing: 0.06em;
	color: white;
	text-align: left;
	margin: 0;
}

.school h3:hover {
	color: #03b73f;
}

.school p {
	font-family: 'Georgia', serif;
	font-size: 1em;
	line-height: 1.7em;
	color: white;
	text-align: left;
	margin: 0;
	padding-top: 10px;
	width: 85%;
}

.school img {
	width: 60%;
	border-radius: 50%
}

.photogallery {
	width: 90%;
	margin: 30px auto;
	padding-bottom: 100px;
	display: flex;
}

.photogallery img {
	width: 300px;
	height: 300px;
	margin: 0 auto;
	display: block;
	padding: 10px;
	border-radius: 50%;
}

.surfboards {
	margin: 0 auto;
	padding: 0;
	width: 100%;
}

.surfboards h2, .blackbox h2 {
	font-family: 'Knewave', cursive;
	text-shadow: none;
	font-size: 1.8em;
	letter-spacing: 0.3em;
	line-height: 1.5;
	text-align: center;
	margin: 20px auto 60px auto;
	padding: 0;
	color: white;
}

.blackbox {
	background: black;
	text-align: center;
	padding: 100px 0 100px 0;
	width: 100%;
}

.surfboards {
	margin: 0 auto;
	padding: 10px;
}

.surfboards h4 {
	font-size: .9em;
	letter-spacing: 0.05em;
	text-align: center;
	font-family: 'Georgia', serif;
	margin: 0 auto 75px auto;
	padding: 0;
	color: white;
}

.clear {
	clear: both;
}

#boardicons {
	margin: 0 auto;
	padding: 0;
	align-items: center;
	display: flex;
	width: 100%;
}

.boardicon {
	margin: 0 auto;
	padding-bottom: 300px;
}

.board img {
	display: block;
	width: 100%;
	margin: 0 auto;
	padding: 0;
}

.boardicon p {
	font-size: 0.9em;
	line-height: 1.6;
	letter-spacing: 0.004em;
	color: white;
	font-family: 'Georgia', serif;
	margin: 0 auto;
	padding: 15px;
	display: inline-block;
}

.imagegallery {
	width: 75%
	margin: 0 auto;
	text-align: center;
}


.imagegallery img {
	margin: 0;
	padding: 0;
}

#video {
	text-align: center;
	margin: 100px auto 100px auto;
}

#movies {
	margin: 0 auto;
	width: 100%;
	padding: 50px 100px 50px 100px;
	background-color: black;
}

#movies p {
	text-align: center;
	font-size: 1.2em;
	margin: -40px auto 20px auto;
	padding-bottom: 30px;
	color: white;
}

#instagallery {
	margin: 0 auto;
	width: 100%;
	padding-bottom: 100px;
}

.instabox img:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}


.filmrow, .instarow {
	display: inline-flex;
	justify-content: center;
	padding: 0 25px 0 25px;
	width: 100%;
	margin: 0 auto;
}

.moviebox, .instabox {
	margin: 20px;
	display: center;
}

.instabox p {
	color: white;
	margin: 0;
	padding: 0;
}

#endless {
	font-family: 'Georgia', serif;
	font-size: 1.4em;
	line-height: 1.8;
	letter-spacing: 0.04em;
	text-align: center;
	color: white;
	margin: 10px auto 30px auto;
	width: 45%;
}

.moviebox img {
	height: 300px;
	margin: 0 30px 30px 30px;
}

.moviebox { transition: all .2s ease-in-out; }
.moviebox:hover { transform: scale(1.1); }


#videocontainer {
	width: 90%;
	margin: 0 auto;
	padding-bottom: 100px;
	text-align: center;
}

#videocontainer img {
	width: 10%;
	text-align: center;
	padding-bottom: 0;
	display: block;
	margin: 100px auto 0 auto;
}

footer {
	background-color: black;
	width: 100%;
	padding: 50px;
	margin: 100px 0 0 0;
}

footer a {
	margin: 0 15px 0 15px;
}

footer img {
	width: 30px;
}


footer p {
	font-family:'Open Sans Condensed', sans-serif;
	font-weight: 700;
	font-size: 16px;
	text-align: left;
	letter-spacing: .05em;
	color: white;
	padding: 20px;
	margin: 20px;
}

#small-nav, #small-nav a {
	display: none;
}

#burger {
	display: none;
	float: right;
	margin-top: 5px;
}


/*media queries*/
@media (max-width: 800px) {
	#navbar {
		display: none;
	}

	#burger {
		display: block;
	}
		#small-nav {
		position: absolute;
		width: 100%;
	}

	#small-nav a {
		display: block;
		text-decoration: none;
		background: black;
		color: white;
		padding: 15px;
}
	#small-nav a:hover {
		background: #03b73f;
	}

	#burger img {
		width: 30px;
	}

	body {
		font-size: 10px;
	}

	.pagetitle {
		width: 90%
		margin: 50px auto;
		padding: 50px;
		border: 2px solid white;
	}

	.main {
		padding: 50px;
	}

	.main p {
		width: 90%;
		font-size: 1.5em;
	}

	.surficon {
		width: 30%;
		display: block;
		text-align: center;
		margin: 50px auto -50px auto;
		padding: 0;
	}

	.surfterms {
		width: 100%;
		margin: 0 auto;
		padding: 0;
	}

	.lingo_row1, .lingo_row2, .lingo_row3 {
		width: 90%;
		display: block;
		margin: 0 auto;
		padding: 0;
}

	.lingo {
		width: 100%;
		margin-bottom: 50px;
		margin-right: auto;
		margin-left: auto;
		padding-bottom: 40px;
		text-align: center;
		border: .5px solid white;




} /*end of media queries

