.container {
  background: grey;
  text-align: center;
  padding: 5px;
  width: 0 auto;
}

.navbar {
  background: black;
  color: white;
  padding: 10px;
  margin: 10px;
}

.orange-background {
  background: red;
  padding: 10px;
  margin: 10px;
}
#purple {
  color: purple;
}

#green {
  color: green;
}

#yellow {
  color: yellow;
}

