body {
  font-family: Lato, Helvetica, sans-serif;
  font-size: 1em;
  border-left: 6px solid #dddddd;
  width: 720px;
  padding-left: 54px;
  padding-top: 54px;
}

article {
  padding-bottom: 100px;
  border-bottom: 1px solid #dddddd;
}

h1 {
  color: red;
  font-size: 3em;
  font-weight: lighter;
  display: inline-block;
  float: left;
  height: 50px;
  margin-top: 5px;
  margin-right: 10px;
  margin-bottom: 20px;
}

h2 {
  color: black;
  font-size: 1.5em;
  font-weight: lighter;
  display: inline-block;
  float: left;
  margin-top: 30px;
  margin-bottom: 20px;
}

h3 {
  color: #cccccc;
  font-size: 2em;
  font-weight: lighter;
  padding: 60px 0 10px 0;
  margin: 0;
}

h4 {
  color: black;
  font-size: 2em;
  font-weight: lighter;
  padding: 0 0 20px 0;
  margin: 0;
}

p {
  font-size: 1.3em;
  line-height: 1.5;
}

.continues {
  color: red;
  font-weight: bold;
  text-decoration: none;
  text-align: right;
  float: right;
}
.navlink {
  background-color: black;
  margin-right: -2px;
  color: white;
  font-size: 1.1em;
  text-decoration: none;
  padding: 10px 20px 10px 20px;
}

footer {
  padding-top: 50px;
}
footer a {
  color: red;
  font-size: 1.2em;
  text-decoration: none;
}

img {
  width: 100%;
}

footer a:hover {
  color:black;
}
.copyright {
  color: #bbbbbb;
  font-size: 1.2em;
}

section {
  float:left;
  display: inline-block;
}

aside {
  float:right;
  display: inline-block;
}

.clear {clear:both;}